.animalbod {
  width: 30%;
  float: left;
  padding: 5px
}

img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.animalbod h4 {
  font-style: italic;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.bio {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .animalbod {
    width: 100%;
    padding: 5px;
  }
  body {
    background-color: gray;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .animalbod {
    width: 100%;
    padding: 5px;
  }
  body {
    background-color: pink;
  }
}
